@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Complete";
}

@if (SignInManager.IsSignedIn(User))
{
    <div align="right">
        @Html.ActionLink("Begin", "Verse1", "Home", null, new { @class = "btn btn-primary" })
    </div>
}
else
{
    <h3>Please <a asp-area="Identity" asp-page="/Account/Login">Login</a> or <a asp-area="Identity" asp-page="/Account/Register">Register</a> to continue.</h3>
}
